<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <div class="alert alert-danger" *ngIf="service.error">
      <p>{{service.error}}</p>
    </div>
    <form #authForm="ngForm" (ngSubmit)="login(authForm)" >
      <div class="form-group">
        <label for="login">E-Mail</label>
        <input
          type="login"
          id="login"
          class="form-control"
          ngModel
          name="login"
          required
          login
        />
      </div>
      <div class="form-group">
        <label class="" for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div class="text-center">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
