<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Detail</h2>
  </div>
  <div class="panel-body">
    <div *ngIf="parent">
      <div>
        <label><b>First Name: </b></label> {{parent.firstName}}
      </div>
      <div>
        <label><b>Last Name: </b></label> {{parent.lastName}}
      </div>
      <div>
        <label><b>Phone: </b></label> {{parent.phone}}
      </div>
      <div>
        <label><b>Work Place: </b></label> {{parent.workPlace}}
      </div>
      <div>
        <label><b>Work Address: </b></label> {{parent.workAddress}}
      </div>
      <div>
        <label><b>Work Phone: </b></label> {{parent.workPhone}}
      </div>
    </div>
  </div>
</div>
